{{!-- Header --}}
<div class="cell" style="text-align:center">
    <header class="center">
        <h1><img src="../assets/images/forever-pig-logo.png" alt="Forever Pig" width="200px"></h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/directory">Directory</a> |
            <a href="/newpiggy">List a Piglet</a> |
            {{> login}}
        </nav>
    </header>
    <hr>
</div>
{{!-- END Header --}}

<div class="work-feature-block grid-x">
    <div class="cell medium-5">
        <img class="work-feature-block-image" src="../assets/images/pigletPics/{{image_name}}" width="400px" />
    </div>
    <div class="cell medium-7">
        <h2 class="work-feature-block-header">{{name}}</h2>
        <p class="card-user-profile-name">{{bio_short}}</p>
        <p style="margin-top: 20px;">{{bio_full}}</p>
        <ul>
            <li><span style="font-size: 18px;font-weight: bold;">Birthday: </span>{{birthdate}}</li>
            <li><span style="font-size: 18px;font-weight: bold;">Breed: </span>{{breed}}</li>
            <li><span style="font-size: 18px;font-weight: bold;">Sex: </span>{{sex}}</li>
            <li><span style="font-size: 18px;font-weight: bold;">Weight: </span>{{weight}}</li>
            <li><span style="font-size: 18px;font-weight: bold;">Located in: </span><a
                    href="https://www.google.com/search?q={{location}}">{{location}}</a></li>

            {{!-- Reserve Button - adds this pig to the user's account --}}
            {{!-- If needed, use {{id}} to get the pig's ID --}}
            <p style="margin-top: 25px;">
                <a href="/" class="card-user-profile-button success button solid">Reserve {{name}}</a>
            </p>
        </ul>
    </div>
</div>